streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
chromadb>
groq
yt-dlp
trafilatura
pypdf
python-docx
python-pptx
duckduckgo-search
youtube-search-python
fpdf2
gTTS
audio-recorder-streamlit
googletrans
python-dotenv
